{
  "extends": [
    "stylelint-config-recommended-scss"
  ],
  "defaultSeverity": "error",
  "rules": {
    "indentation": 2,
    "string-quotes": "single",
    "no-duplicate-selectors": true,
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "selector-class-pattern": "^([a-z][a-z0-9]*)([-_]{0,2}[a-z0-9]+)*$",
    "selector-combinator-space-after": "always",
    "selector-attribute-quotes": "always",
    "selector-attribute-operator-space-before": "never",
    "selector-attribute-operator-space-after": "never",
    "selector-attribute-brackets-space-inside": "never",
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "property-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "number-leading-zero": "always",
    "function-url-quotes": "always",
    "font-family-name-quotes": "always-where-recommended",
    "comment-whitespace-inside": "always",
    "comment-empty-line-before": "always",
    "at-rule-no-vendor-prefix": true,
    "at-rule-name-case": "lower",
    "at-rule-name-space-after": "always",
    "at-rule-semicolon-space-before": "never",
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": [
          "after-single-line-comment",
          "first-nested"
        ]
      }
    ],
    "selector-pseudo-class-parentheses-space-inside": "always",
    "selector-no-vendor-prefix": true,
    "media-feature-range-operator-space-before": "always",
    "media-feature-range-operator-space-after": "always",
    "media-feature-parentheses-space-inside": "always",
    "media-feature-name-no-vendor-prefix": true,
    "media-feature-colon-space-before": "never",
    "media-feature-colon-space-after": "always",
    "value-list-max-empty-lines": 0,
    "declaration-empty-line-before": "never",
    "block-no-empty": true,
    "shorthand-property-no-redundant-values": true,
    "declaration-block-single-line-max-declarations": 1,
    "color-no-hex": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-no-important": true,
    "selector-no-qualifying-type": true,
    "number-no-trailing-zeros": true,
    "function-url-no-scheme-relative": true,
    "max-nesting-depth": 5,
    "function-comma-space-after": "always",
    "function-comma-space-before": "always",
    "function-parentheses-space-inside": "always"
  }
}
